@charset "utf-8";
/* CSS Document */
body{
	width:100%;
/*	background-color:#666666; */
	background:url(../../images/manage/loginbackground.jpg) no-repeat;
	background-position:50% 50%;
	background-size:100%;
	color:#333333;
	line-height:35px;
}

*{
	list-style:none;
	text-decoration:none;
	margin:0px;
	padding:0px;
}

